.status-badge {
    font-size: 0.9em;
    display: inline-table;
}

.status-badge__icon {
    padding: 4px;
    background: var(--md-accent-fg-color--transparent);
    border-start-start-radius: 2px;
    border-end-start-radius: 2px;
}

.status-badge__text {
    padding: 4px 6px;
    border-start-end-radius: 2px;
    border-end-end-radius: 2px;
    box-shadow: 0 0 0 1px inset var(--md-accent-fg-color--transparent);
}

.md-tooltip2__inner{
    font-size:.65rem !important;
}

.author-card-container {
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.author-card.md-button {
    display: flex;
    border-radius: .2rem;
    padding: 0.5rem;
}

.author-card__avatar {
    display: inline-block;
    width: 2.1rem;
    background: white;
    border-radius: 50%;
}

.author-card__name {
    display: inline-block;
    font-size: 0.7rem;
    padding: 0.5rem;
}